<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	<head>
		<meta charset="UTF-8">
		<title>{{ .Title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="canonical" href="{{ .Permalink }}" />
		{{ partial "style.css" }}
	</head>
	<body>
		<h1>{{ .Title }}</h1>
		<hr>
		<ul>
		{{ range .Pages }}
			<li>
				<h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
			</li>
		{{ end }}
		</ul>
	</body>
</html>
