<style type="text/css">
	body {
		color: #EEEEEE;
		background: #444444;
		margin: 40px auto;
		max-width: 1024px;
		padding: 0 10px;
	}
	a {
		color: #E6E6E6;
	}
	ul {
		list-style: none;
	}
</style>
